@model IEnumerable<SPC_Coopenae.UI.Areas.Mantenimientos.Models.TipoCDP>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de Tipos de CDP</h2>

<p>
    @Html.ActionLink("Registrar nuevo Tipo de CDP", "Registrar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Moneda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComisionMaxima)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDPNecesario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PCTComision)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {

    var tipoMoneda = (item.Moneda == "d") ? "$ - Dólares" : (item.Moneda == "c") ? "₡ - Colones" : "Error";

    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @tipoMoneda
        </td>
        <td>
            @(item.Moneda == "d" ? "$" : "₡")@(string.Format("{0:0,0.00}", item.ComisionMaxima))
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDPNecesario)%
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PCTComision)%
        </td>
        <td>
            <a class="btn btn-default" href="@Url.Action("Editar", new { id = item.IdTipoCDP })">
                <span class="glyphicon glyphicon-pencil" title="Editar"></span>
            </a>

            <a class="btn btn-success" href="@Url.Action("Detalles", new { id = item.IdTipoCDP })">
                <span class="glyphicon glyphicon-list-alt" title="Detalle"></span>
            </a>

            <a class="btn btn-danger" href="@Url.Action("Eliminar", new { id = item.IdTipoCDP })">
                <span class="glyphicon glyphicon-trash" title="Eliminar"></span>
            </a>
        </td>
    </tr>
}

</table>
